*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
}

body,
html {
  height: 100%;
}

body {
  background-color: hsl(0, 0%, 90%);
}

.wrapper {
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: hsl(12, 100%, 71%);
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.display {
  background-color: hsl(0, 0%, 25%);
  flex: 0 1 100px;
  padding: 10px 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  box-shadow: rgb(87, 87, 87) 3px 3px 6px 0px inset,
    rgba(32, 32, 32, 0.5) -3px -3px 6px 1px inset;
}

.previous-line,
.current-line {
  word-wrap: break-word;
  word-break: break-all;
  color: hsl(0, 0%, 95%);
}

.previous-line {
  font-size: 22px;
  opacity: 0.5;
}

.current-line {
  font-size: 32px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  flex: 1;
  gap: 10px;
  margin-top: 20px;
}

.btn {
  border: none;
  border-radius: 50px;
  background-color: #ff896b;
  color: hsl(0, 0%, 95%);
  font-size: 1.8rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn:active {
  transform: scale(0.98);
}

.btn--large {
  grid-column-start: span 2;
  background-color: hsl(0, 0%, 90%);
  font-size: 22px;
  color: hsl(0, 0%, 25%);
}
